*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  
  font-family: 'Poppins', sans-serif;
}


nav h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

nav h3 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #fff;
}

nav h3 a {
  color: #fff;
}

nav a {
  color: #fff;
}

nav h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  font-family: "Bree Serif", "serif";
}

#container {
  margin: 0 auto;
  max-width: 890px;
}

nav p {
  text-align: center;
}

.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: 100%; 
  font-family: 'Poppins', sans-serif;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 25px;
  line-height: 60px;
  color: #fff;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;  
}
.menu {
    margin-right: 40px;
}
/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;  
}

/* Styling the links */
nav a {
  display: block;
  padding: 18px 20px;
  color: #fff;
  font-size: 17px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
}
nav ul li ul  {
  background: #fff;  
  border-radius: 0 12px 12px 12px;
}
nav ul li ul li a {
  color: #000000;
}
nav ul li ul li:hover {
  color: #8f8fa1;
}

/* Background color change on Hover */
nav a:hover {
  color: #ff5100;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 50px;
  z-index: 1;
  background-image: #fff;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 220px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  .menu {
    margin-right: 0px;
}

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #254441;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #000000;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #000000;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}
@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}



// //////////////////////////////////content
.wraper-main{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.4)), url("../img/4b17dd_a60eef0aaab54c3787d71c3abd9e0e97_mv2.webp");
    // background-image: url("../img/4b17dd_a60eef0aaab54c3787d71c3abd9e0e97_mv2.webp");
    height: 100vh;
    background-size: cover;
    background-position: center;
   
    .wraper-main-content{
        width: 50%;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        padding-top: 200px;
        z-index: 12;
        
        h1{
            font-size: 55px;
            font-weight: 500;
        }
    }
}







.service{
    background-color:#ededed;
    padding: 100px 0; 
    h1{
        text-align: center;
        font-weight: 100;
        span{
            font-weight: 900;            
        }
    }
    .service-wraper{
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
       .content{
           width: 32%;
           margin-top: 60px;
           svg{
               fill: #099cf4;
               width: 40px;
               height: 40px;
           }
           h2{
            font-size: 1.4em;
            font-weight: 600;
            line-height: 27px;
            margin: 0 0 14px;
           }
           p{
            color: #777;
            line-height: 26px;
            margin: 0 0 20px;   
            font-size: 14px;
           }
       }
    }     
}



.Courts ,.Courts2{
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .left{
        width: 47%; 
        position: relative;
        top: 50%;
        transform: translateY(22%); 
        padding-right: 15px;
        h1{
            line-height: 65px;
        }
        p{
            color: #777;
            line-height: 23px;
            margin: 0 0 20px;   
            font-size: 14px;
           }
           a{
            font-weight: 900;
           }
    }
    .right{
        width: 47%;
        img{
          height: 350px;
          width: 100%;
          object-fit: cover;
            
        }
    }
}





.Courts2-main-bg{
    background-color:#ededed;
}
.Courts2{
    background-color:#ededed;
}



















/*------------------formmm---------------------------*/

input {
    outline: none;
    border: none;
  }
  
  textarea {
    outline: none;
    border: none;
    font-family: Helvetica Neue, "Montserrat", sans-serif;
  }
  
  textarea:focus,
  input:focus {
    border-color: transparent !important;
  }
  
  input::-webkit-input-placeholder {
    color: #bdbdd3;
  }
  input:-moz-placeholder {
    color: #bdbdd3;
  }
  input::-moz-placeholder {
    color: #bdbdd3;
  }
  input:-ms-input-placeholder {
    color: #bdbdd3;
  }
  
  textarea::-webkit-input-placeholder {
    color: #bdbdd3;
  }
  textarea:-moz-placeholder {
    color: #bdbdd3;
  }
  textarea::-moz-placeholder {
    color: #bdbdd3;
  }
  textarea:-ms-input-placeholder {
    color: #bdbdd3;
  }
  
  /*==================================================================
  [ Contact - Area]*/
  
  .container-contact {
    width: 100%;
    min-height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: transparent;
  }
  
  .wrap-contact {
    width: 700px;
    background: transparent;
    border: 1px solid #b3b3b3;
    padding: 40px 0px 20px 0px;
  }
  
  .wrap-contact-image {
    width: 600px;
    background: transparent;
    padding: 40px 0px 20px 0px;
  }
  
  /*==================================================================
  [ Contact - Form ]*/
  
  .contact-form {
    width: 100%;
  }
  
  .error {
    padding: 5px 9px;
    border: 1px solid red;
    color: red;
    border-radius: 3px;
  }
  
  .success {
    padding: 5px 9px;
    border: 1px solid green;
    color: green;
    border-radius: 3px;
  }
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input {
    width: 90%;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
  }
  
  .input {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    color: #8f8fa1;
    line-height: 1.2;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: none;
  }
  
  /*---------------------------------------------*/
  
  input.input {
    height: 62px;
    padding: 0 15px 0 15px;
  }
  
  textarea.input {
    min-height: 169px;
    padding: 19px 15px 0 15px;
  }
  
  /*------------------------------------------------------------------
  [ Focus Input ]*/
  
  .focus-input {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #fff;
    pointer-events: none;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input:focus + .focus-input100 {
    width: calc(100% + 20px);
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
  
  .contact-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 250px;
    height: 50px;
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
  
    font-family: "Montserrat";
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }
  
  .contact-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 7px;
    background-color: #9e8c7b;
    pointer-events: none;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact-form-btn:hover:before {
    background-color: #916439;
  }
  
  .validate-input {
    position: relative;
  }
  
  /*==================================================================
  [ Info Grid]*/
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px;
    grid-gap: 100px;
    padding: 10px 30px 0px 30px;
  }
  
  .grid-container > div {
    padding: 20px 0;
    font-size: 10px;
  }
  
  .left-align {
    text-align: left;
  }
  
  .right-align {
    text-align: right;
  }
  
  /*==================================================================
  [  Hero title ]*/
  
  .listing-hero {
    background: #f7f0ea;
    padding: 101px 0 30px;
  }
  
  .hero-heading {
    margin: 0 auto;
    width: 100%;
    max-width: 709px;
  }
  
  section#post-28 {
    padding-top: 155px;
  }
  
  .hero-large {
    display: inline-block;
    width: 100%;
    font-weight: 300;
    font-size: 56px;
    line-height: 56px;
    position: relative;
    top: -19px;
    color: #454545;
  }
  
  .hero-text {
    display: inline-block;
    width: 59%;
    vertical-align: top;
    border-left: 1px solid #8e8e8e;
    padding: 0 33px;
    font-size: 15px;
    line-height: 23px;
    /* or 153% */
    color: #454545;
    vertical-align: top;
  }
  
  .hero-text .btn.no-border {
    margin-top: 15px;
    margin-bottom: 6.5px;
    background-image: url(../images/Path3.png);
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    background-position: right center;
    max-width: 99px;
  }
  
  .hero-text i {
    font-style: normal;
    margin-top: -6px;
    display: block;
  }

/*------------------end   formmm---------------------------*/





.service-container{
  text-align: center;
  width: 40%;
  margin: 0 auto;
  border-bottom: 2px solid #454545;
  padding-bottom: 15px;
  position: relative;
  padding-top: 100px;
  &::after{
    content: "<<<<";
      position: absolute;
      left: -36px;    
      bottom: -12px;
    }
    &::before{
      content: ">>>>";
      position: absolute;
      bottom: -12px;
      right: -36px;
    }
  h2{
    font-size: 50px;
    font-weight: 900;
    p{
      font-size: 14px;

    }
  }
}
.city{
  // padding: 50px 0 0 0; 
  text-align: center;
}
.service-button{
  width: 60%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  .button{
    padding: 15px 0 ;
    width: 48%;    
    font-size: 20px;
  }
}










// ///////////about//////////////////////////


// .about-team{
//   width: 100%;
//   padding: 100px 0;
//   background-color: #ededed;
//   h1{
//     font-size: 80px;
//     text-align: center;
//   }
//   .team-wraper{
//     width: 70%;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     .team{
//       width: 32%;
//       background:#fff;
//       margin-top: 15px;
//       img{
//         width: 100%;        
//       }
//       .text{
//         h1{
//           font-size: 20px;
//           text-align: left;
//           padding: 10px 10px;
//         }
//         p{
//           padding: 10px;
//           color: #777; 
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }

// .about-story{
//   width: 100%; 
//   background: linear-gradient(rgba(0,0,0,.7)), url("../img/about/bg.jpg");
//   background-size: cover;
//   background-position: center bottom;
//   height: 100vh;
//   position: relative;
//   h1{
//     color: rgb(231, 231, 231);
//     font-size: 100px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//   }
// }

.story-text{
  width: 55%;
  margin: 0 auto;
  padding: 70px 0;
  p{
    padding: 10px;
    color: #777; 
    font-size: 15px;
  }
}

.mission{
  width: 100%; 
  background: linear-gradient(rgba(0,0,0,.7)), url("../img/about/bg3.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  position: relative;
  h1{
    color: rgb(231, 231, 231);
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}


.mission-text{
  width: 55%;
  margin: 0 auto;
  padding: 70px 0;
  p{
    padding: 10px;
    color: #777; 
    font-size: 15px;
  }
}


.fade{
  padding: 0;
  img{
    width: 100%;
    height: 100vh;
    object-fit: cover;   
    background-position: top center; 
    filter: brightness(0.5);
    object-position: center top;
  }
  .text-res{
    position: relative;
    text-align: center;   
    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 60%;
      // background-color: rgba(231, 231, 231,0.4);
      h1{
        
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 18px;
        line-height: 70px;      
      }
      p{
        font-size: 20px;
        color: #fff;       
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: #fff;       
      }
       button{
        height: 38px;
        background: #FF5100;       
        border-radius: 19px;
        padding: 0 38px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;        
        line-height: 38px;        
        white-space: nowrap;
        border: 0;
        font-family: 'Poppins', sans-serif;
        margin-top: 15px;
        a{
          text-decoration: none;          
          font-weight: 500;
          color: #fff;
        }
       } 
    }  
  }
}
  









.sec-slider{
  background-color: #fff;
  padding: 50px 0 100px 0;
  position: relative;
  
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
    background:  rgba(37, 37, 37,0.50);
    padding: 26px 49px 49px 30px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background:  rgba(0, 0, 0, 0.27);
}
.title{ 
  z-index: 44;
  display: flex;
  position: relative;
  height: 0;
  h1{
    width: 100%;
    padding-left: 18%;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    font-family: 'Poppins', sans-serif;    
    z-index: 11;    
    margin-top: -115px;
    position: relative;
    display: inline-block;
    &::before{
      width: 15px;
      height: 22px;
      background: url("../img/home/bg/arrow-down.svg") center center no-repeat;
      background-size: contain;
      position: absolute;
      content: '';
      padding-left: 225px;
      top: 20%;
      margin-top: -11px;
      animation-name: scrooll ;      
      animation-duration: 1.5s;      
      animation-iteration-count: infinite;
          
    } 
    @keyframes scrooll {
      0% {
        transform: translateY(-1px);
      }
      50% {
        transform: translateY(3px);
      }
      100% {
        transform: translateY(-1px);
      }
    }  
  }
  .social-icon{
    z-index: 12;   
    display: flex;
    position: relative;
    height: 44px;
    top: -100px;
    right: 5%;
    a{
      padding-right:15px ;
      width: 55px;
      height: 50px;
      img{
        width: 100%;
        opacity: 0.4;      
        transition: all 0.3s ease;  
      }
      &:hover img{
        opacity: 1;
      }
    }
  }
}
&::before{
  content: "";
  position: absolute;
  top: -100px;
  width: 85%;
  right: 0;
  background-color: #080b14;
  height: 100%;
  padding-bottom: 80px;
}
.center-slider{
  .text{
    background-color: rgb(255, 81, 0);
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 15px;
    padding: 40px 0;
    overflow: hidden;
    border-radius: 10px;
    .left{
      width: 45%;
      padding-left: 40px;      
      p{
        color: #fff;        
        font-family: 'Poppins', sans-serif;
        transition: all 0.3s;
        font-size:16px;
        font-weight: 500;
        &:hover{
          color: #cacaca;
        }
      }
      h1{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        transition: all 0.3s;
        font-size: 30px;
        margin-top: 60px;
        width: 70%;
        line-height: 35px;
        letter-spacing: 1px;
        font-weight: 600;
        &:hover{
          color: #cacaca;
        }
      }
      .owner {
        position: absolute;
        bottom: 50px;
        a{
          text-decoration: none;
          color: #fff;  
          position: relative;
          top: -10px;     
        }
        img{
          width: 40px;
          height: 40px;      
          border-radius: 50px;
          display: inline;
        }
    }
      
    }
    .right{
      padding-left: 30px;
      width: 55%;
      position: relative;
      .img-teg-slider{
        width: 290px;
        height: 290px;
        overflow: hidden;
        border-radius: 100%;
        
        img{
          width: 100%;
          text-align: right;
          overflow: hidden;
          height: 100%;
          object-fit: cover;
          display: block;
          object-position: center;
          transition: all 0.2s ease;
          
        }
      }
    }
    &:hover .right img{
      transform: scale(1.05);
      
    }    
  }
  .text-1{
    background-color: #FF5100;
  }
  .text-2{
    background-color: #7749FF;
  }
  .text-3{
    background-color: #476EFF;
  }
  .text-4{
    background-color: #FF4F58;
  }
  .text-5{
    background-color: #00aeff;
  }
  .text-6{
    background-color: #e99067;
  }
}
}

.Schedule{
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  

  .title{
    h1{
      float: left;
      font-family: 'Poppins', sans-serif;
      span{
        color: #FF5100;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        text-decoration: underline;
      }
    }
    a{
      float: right;
      font-family: 'Poppins', sans-serif;
      padding-top: 15px;
      text-decoration: none;
      color: #000;
    }
  }
  .main-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    clear: both;
    .section{
      border-radius: 10px;
      width: 30%;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #F0F2F8;
      font-family: 'Poppins', sans-serif;
      transition: all .2s ease;
      .date{
        h3{
          font-size: 14px;
          color: #080B14;
          width: auto;
          transition: all .2s ease;
          font-weight: 400;
        }
      }
      p{
        font-size: 14px;
        color: #080B14;
        margin-bottom: 12px;
        transition: all .2s ease;
        margin-top: 15px;
        font-weight: 300;
      }
      h2{
        display: block;
        float: left;
        width: 100%;
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        color: #080B14;
        max-width: 290px;
        transition: all .2s ease;      
        padding-bottom: 20px;

      }
      button{
        height: 38px;
        width: auto;
        padding: 0 18px;        
        font-weight: 500;
        font-size: 12px;
        
        text-transform: uppercase;
        border-radius: 19px;
        display: block;
        line-height: 38px;
        letter-spacing: 1px;
        text-align: center;
        white-space: nowrap;
        opacity: 1;
        transition: all .2s ease;
        border: 0;
        font-family: 'Poppins', sans-serif;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
    .section-1:hover{
      background-color: rgb(119, 73, 255);
    }
    .section-2:hover{
      background-color: rgb(255, 220, 73);
    }
    .section-3:hover{
      background-color: rgb(119, 73, 255);
    }
    .section-4:hover{
      background-color: rgb(255, 79, 88);
    }
    .section-5:hover{
      background-color: rgb(71, 110, 255);
    }
    .section-6:hover{
      background-color: rgb(71, 110, 255);
    }
    
  }
}




.trainers{
  background-color: #080B14;
  padding: 100px 0;
  
  .title{
    width: 60%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    
    h1{
      float: left;
      color: #ffffff;
      font-weight: 500;
      font-size: 45px;
      padding:0 0 50px 0;
    }
    .all-trainers{
      float: right;
      text-decoration: none;
      color: #ff5100;
      padding-top: 30px;
    }
  }
  .slider-sec{
    
    color: #ffffff;
    clear: both;
    .TRANER-SLIDER{
     .picture{
      font-family: 'Poppins', sans-serif;
       position: relative;
       overflow: hidden;
       border-radius: 10px;
      .pic-sec{
        width: 390px ;
        height: 490px;
        img{
          width: 100%;
          object-fit: cover;
          object-position: top;
          transition: all 0.2s linear;
        }
      }
      .text{
        color: #ffffff;
        position: absolute;
        bottom: -60px;
        transition: all 0.2s linear;
        left: 15px;

      }
      &:hover .text{
        bottom: 30px;
      }
      &:hover .pic-sec img{
        filter: brightness(0.5);
      }
      .social{
        position: absolute;
        bottom: -100px;
        left: 55%;
        display: flex;
        flex-direction: column;
        transition: all 0.2s linear;
        svg{
          width: 30px;
          height: 30px;
          fill: #ffffff;
          padding: 5px 0;
        }        
      }
      &:hover .social {
        bottom: 20px;
      }
     }
    }
  }
}


.blog-wraper{
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  .title{    
    font-family: 'Poppins', sans-serif;    
    h1{
      float: left;
    }
    a{
      float: right;
      text-decoration: none;
      color: #ff5100;
      padding-top: 15px;
    }
  }
  .three-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    clear: both;
    padding-top: 50px;
    .three{
      width: 33%;
      padding: 0 10px;
      text-align: center;
      img{
        width: 100%;
        border-radius: 10px;
      }
      p{
        
        transition: all 0.3s;
        display: block;      
        font-size: 13px;
        color: #111;
        letter-spacing: 1px;
        margin-bottom: 18px;
        font-family: 'Poppins', sans-serif;  
        margin-top: 18px;
      }
      .name-title{
        color: #000;
        display: block;
        font-size: 21px;
        font-weight: 500;
        color: #080B14;
        font-family: 'Poppins', sans-serif;  
        padding: 0 20px;
        line-height: 1.5;
        transition: all .2s linear;
      }
      &:hover p , h1{
        color: #ff5100;
      }
      &:hover  .name-title{
        color: #ff5100;
      }
    }
  }
}



/////////////////////////// <!-- padel cort -->
.padel-cord{
  padding: 100px 0;  
  .main-heading{
    width: 55%;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    font-family: 'Poppins', sans-serif;  
    h1{
      font-size: 46px;  
      font-family: 'Poppins', sans-serif;  
      position: relative;
      margin-bottom: 30px;
      &::before{
        content: "";
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        
      }
    }
    h2{
      font-size: 26px;
      font-weight: 300;
      font-family: 'Poppins', sans-serif;  
    }

  }
  .img-sec{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    .main{
      width: 20%;
      position: relative;
      transition: all 0.3s  liner;
      padding: 5px;
      
      .img-wraper{
        width: 100%;
        height: 350px;
        
        
        img{
          transition: all 0.3s  ease;
          width: 100%;
          object-fit: cover;
          height: 100%;
          object-position: top;
          border-radius: 5px;
          filter: brightness(0.4);
        }        
      }
     .text{
       text-align: center;
      position: absolute; 
      width: 100%;     
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
      opacity: 1;     
      a{
        color: #ff6823;
      }
      h3{
        font-size: 27px;
      }
      p{
        line-height: 50px;
      }
    }    
    }
  }
  .text-area{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    .first{
      padding: 20px;      
      width: 31%;
      border: 1px solid gray;
      transition: all 0.3S;
      box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.2);
      h1{
        text-align: center;
        padding: 10px 0 10px 0;
        font-family: 'Poppins', sans-serif;  
        color: #667a24;
        margin-bottom: 10px;
        font-weight: 400;
        position: relative;
        &::before{
          content: "";
          width: 100%;
          height: 1px;
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      p{
        padding: 10px 0;
        font-family: 'Poppins', sans-serif;  
        font-size: 14px;
        color: #656565;
      }
      &:hover{
        background-color: rgb(247, 247, 247);
      }
    }
  }
}
/////////////////////////// <!-- end padel cort -->



////////////////////////// <!-- about page -->
.about{
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.8)), url("../img/home/bg/1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 100px 0 ;
  overflow: hidden;
  .about-sec{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    .left{
      width: 30%;
      .img{
        width: 250px;
        height: 250px;
        filter: grayscale(100%);
        
        img{
          border-radius: 500%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .right{
      width: 70%;
      color: #fff;
      padding-top: 30px;
      text-align: center;
      h1{
        font-size: 36px ;
        font-family: 'Poppins', sans-serif; 
      }
      p{
        padding: 10px 0;
        font-family: 'Poppins', sans-serif;  
      }
    }    
  }
  .story-img{  
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 50px;
    .left{
      width: 50%;
      img{
        width: 100%;
      }
    }
    .right{
      width: 50%;
      padding-left: 30px;
      text-align: center;
      padding-top: 70px;
      h1{
        font-size: 36px;
        color: #fff;    
        font-family: 'Poppins', sans-serif;      
      }
      p{
        color: #fff;
        line-height: 50px;
        font-family: 'Poppins', sans-serif;  
      }
      a{
        color: #ff6823;
        font-family: 'Poppins', sans-serif;  
      }
    }
  }
}


// ////////////////////////////////contect
.contect{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  padding-top: 100px;   
  .left{
    width: 60%; 
    .maps{
      width: 100%;
    }   
  }
  .right{
    width: 40%;
    padding: 10px 20px;
    background-color: rgb(255, 224, 101);
    h1{
      text-align: center;
      font-family: 'Poppins', sans-serif; 
    }
    form{
      background-color: rgb(255, 224, 101);
      input{
        background-color: rgb(255, 224, 101);
        width: 100%;
        border-bottom: 1px solid #656565;
        padding: 10px 15px;
        font-family: 'Poppins', sans-serif;  
        margin: 5px 0px;
        &::placeholder{
          color: #656565;
        }
        &:focus{
          outline: 1px solid #656565;
        }
      }
      textarea{
        width: 100%;
        padding: 10px 15px;
        font-family: 'Poppins', sans-serif;  
        background-color: rgb(255, 224, 101);
        border-bottom: 1px solid #656565;        
        &::placeholder{
          color: #656565;
        } 
        &:focus{
          outline: 1px solid #656565;
        }
      }
      button{
        width: 100%;
        background-color: rgb(0, 0, 0);
        border: 0;
        color: #fff;
        padding: 10px 0;
        font-family: 'Poppins', sans-serif;
      }
    }
  }
}
// ////////////////////////////////end contect

// <!---------------- footer -->
.footer-sec{
  // clip-path: ellipse(53% 131% at 50% 143%);
  width: 100%;
  height: 200px;
  background-color: #000;
  display: flex;  
  flex-direction: row;
  margin: 100px 0 0 0;
    .copy{
      width: 33%;      
      position: relative;
      p{
        position: absolute;
        bottom: 50px;
        left: 50%;
        top: 50%;
        font-family: 'Poppins', sans-serif;  
        color: #fff;
        transform: translate(-50%,-50%);
      }
    }
    .addr{
      width: 33%;
      position: relative;
      p{
        position: absolute;
        bottom: 50px;
        left: 50%;
        top: 50%;
        color: #fff;
        font-family: 'Poppins', sans-serif;  
        transform: translate(-50%,-50%);
        text-align: center;
        a{
          color: #fff;         
        }
      } 
     
    }
    .social{
      width: 33%;
      position: relative;
      text-align: center;
      
      svg{
        fill: #fff;
        width: 30px;
        margin-top: 100px;
        height: 30px;
        margin-right: 15px;
        
      }
    }
}
// <!----------------End footer -->






////////////////////////// <!--  end about page -->

